<div class="container goals-list-content spoti-box">
  <div class="row">

    {{#each artistAlbums}}
    <article class="col-md-6 col-lg-4">
      <div class="card-body">
        <img src="{{images.1.url}}" class="artist-search-image" alt="images for {{album}}">

        <h5 class="card-title scnd-text artist">{{name}}</h5>
        <button class=" scnd-text btn btn-lg btn-dark lookfor-spoti"><a class="scnd-text" href="/main/{{id}}/tracks">View tracks</a></button>
      </div>
    </article>

    {{/each}}

  </div>
  

