<div class="container goals-list-content spoti-box-tracks">
  <div class="row">

    {{#each searchedArt}}
    <article class="col-md-6 col-lg-4">
      <div class="card-body">
        <img src="{{images.2.url}}" class="artist-search-image " alt="images for {{name}}">

        <h5 class="card-title scnd-text artist ">{{name}}</h5>
        <button class="scnd-text btn btn-lg btn-dark lookfor-spoti"><a class="scnd-text" href="/main/{{id}}/albums">View Albums</a></button>
      </div>
    </article>

    {{/each}}

  </div>