{{> menuSpoty}}
<div class="form">
   
     <form action="/main/artist-search" method="GET" style="width: 500px; display:block; margin: 0 auto; margin-top:400px">
      <h1 style="text-align: center;">Hola, encuentra tu canción</h1>
            <input class="form-control" type="text" name="artist">
            <br>
            <button style="margin-left: 145px; text" class="btn btn-lg btn-dark"type="submit" class="home-button">Search for an Artist</button>
        </form>
    </div>

 
  

