<div class="container goals-list-content">

    <div class="form">

        <form action="/main/artist-search" method="GET" style="width: 500px; display:block; margin: 0 auto; margin-top:400px">
            <h1 class="scnd-text lookfor-spoti" style="text-align: center;">Which project motivates you?</h1>
            <input class="scnd-text lookfor-spoti" type="text" name="artist" placeholder="Artist">
            <br>
            <button style="margin-left: 145px; text" class="scnd-text btn btn-lg btn-dark lookfor-spoti" type="submit" class="home-button">Search for
                an Artist</button>
        </form>
    </div>


</div>