<div>
    <h2>Motiv</h2>
</div>
<section class="container">

<div class="motiv-phrase-space">
    <p class="motiv-phrase" >Frase super cool</p>
</div>

</section>
<section class="section-menu">
<div class="row">

<div class="col-4 ">
    <a class="hrefs white" href="perfil/goals">Goals</a>
    <p class="white">the object of a person´s ambition of effort</p>
</div>
<div class="col-4 ">
    <a class="hrefs white" href="perfil/setaim">Set aim</a>
    <p class="white">establishing something that you hope to achieve</p>
</div>
<div class="col-4 ">
    <a class="hrefs white" href="perfil/perfil">Profile</a> {{!-- revisarrrrr --}}
    <p class="white">you</p>
</div>

</div>

</section>
<section>
paco{{user.username}}
  
</section>