<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>

<body>
	<div class="row">
		<div class="container col-4">
			<div class="d-flex justify-content-center h-100">
				<div class="card">
					<div class="card-header">
						<h3>Log in</h3>

					</div>
					<div class="card-body">
						<form action="/" method="POST">
							<div class="pepe">
								<label style="color:white" for="">Name</label>
								<div class="input-group form-group ">

									<input name="username" type="text" class="login-inputs">

								</div>
							</div>
							<label style="color:white" for="">Password</label>
							<div class="input-group form-group input-pass">
									
								<input name="password" type="password" class="login-inputs">
							</div>
							
							<div class="form-group">
								<input type="submit" value="Login" class=" login_btn">
							</div>
						{{#if errorMessage}}
   							 <p style="color: red; font-weight: bold; "> {{errorMessage}} </p>
    					{{/if}}
						</form>
	
					</div>
					<div class="card-footer">
						<div class="d-flex justify-content-center links">
							Don't have an account?<a href="/registro">Sign Up</a>
						</div>
						<div class="d-flex justify-content-center">
							<a href="/registro">Forgot your password?</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-4">
			<h1 class= "title-main">Motiv</h1>
			<h1 id= "phrase"></h1>

		</div>
		<div class="col-4">
			

		</div>
	</div>
</body>
<script>
	new TypeIt("#phrase", {
  strings: ["for running","for life","for work"],
  speed: 75,
  loop: true,
  cursorChar: " _"
}).go();
</script>