@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  padding: 0;
  font-family: sans-serif; }

* {
  font-family: 'Cormorant Garamond', serif; }

a:hover {
  cursor: crosshair; }

img {
  width: 100%; }

.container {
  width: 100%;
  margin: 0; }

.logo {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 99; }

a {
  transition: all .25s ease-in-out; }

a:link {
  text-decoration: none;
  color: white; }

a:visited {
  text-decoration: none;
  color: white; }

nav {
  float: right; }

nav li {
  display: inline-block;
  list-style: none;
  margin: 0 10px; }

html,
body {
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%; }

.container {
  height: 100%;
  align-content: center; }

input {
  color: #fff;
  background: none;
  border: none;
  border-bottom: 1px solid #fff; }

.login-inputs {
  margin-left: auto;
  margin-right: auto; }

.input-pass {
  margin-bottom: 40px; }

.card-header h3 {
  color: white; }

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important; }

.remember {
  color: white; }

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px; }

.login_btn {
  color: black;
  background-color: white;
  width: 100px;
  margin-right: auto;
  margin-left: auto; }

.links {
  color: white; }

.links a {
  margin-left: 4px; }

.title-main {
  font-stretch: condensed;
  font-size: 150px;
  margin-top: 110px; }

#phrase {
  font-size: 100px; }

.main-text {
  font-family: 'Cormorant Garamond', serif; }

.scnd-text {
  font-family: 'Raleway', sans-serif; }

.log-in {
  color: white;
  text-align: center;
  height: 45vh;
  margin-top: 150px;
  margin-bottom: auto;
  width: 310px;
  background-color: #252525 !important; }

.log-in .whole-form {
  margin-top: 5vh; }

.log-in h3 {
  color: white;
  margin-top: 4vh;
  font-weight: 400;
  font-size: 1.3em; }

.log-in form {
  margin-top: 6vh;
  font-size: 1em; }

.log-in .passw-space {
  margin-top: 4vh;
  margin-bottom: 3vh; }

.login_btn {
  font-weight: 200;
  transition: color; }

.log-in label {
  font-size: 1em;
  font-weight: 200; }

.log-in .end-text {
  margin-top: 1vhpx;
  font-size: .9em;
  font-weight: 200; }

.log-in .login-inputs {
  width: 70%; }

.text-index {
  margin-left: 7vw; }

.text-index h1 {
  font-size: 400; }

.text-index #phrase {
  font-size: 4em; }

.log-in a:hover {
  color: #252525;
  background-color: white;
  cursor: crosshair; }

.log-in a:active {
  color: white;
  background-color: #252525; }

input:focus {
  outline: none;
  background-color: white;
  color: #252525; }

.login_btn:hover {
  border-color: #252525;
  background-color: #252525;
  color: white;
  cursor: crosshair; }

.login_btn:active {
  border-color: #252525;
  background-color: white;
  color: #252525; }

.white {
  color: white; }

.hrefs {
  font-size: 40px;
  margin-top: 100px; }

.section-menu {
  background-color: #252525;
  text-align: center;
  height: 300px;
  padding-top: 100px; }

.motiv-phrase-space {
  text-align: center;
  height: 100%;
  padding: 0 10vw 0 10vw; }

.motiv-phrase {
  margin-top: 39vh;
  font-size: 50px; }

.section-menu p {
  font-family: Raleway;
  padding: 0 4vw 0 4vw;
  font-weight: 200; }

.container {
  max-width: 100%;
  margin: 0; }

.list-box {
  padding: 34px 70px 50px 180px; }

.goals-list-content {
  background-color: #252525;
  color: white;
  position: relative;
  height: 100%;
  overflow: scroll; }

.goals-list-content ul {
  list-style: none;
  padding: 0; }

.goals-list-content h3 {
  font-family: Raleway;
  font-size: 3em;
  font-weight: 200; }

.goals-list-content .list-box li a {
  font-family: Raleway;
  font-size: 1.3em;
  font-weight: 200;
  margin-left: 5px;
  margin-right: 200px; }

.goals-list-content .list-box li:hover {
  background-color: white; }

.goals-list-content .list-box li {
  border-bottom: 1px solid white;
  margin-top: 40px;
  margin-bottom: 40px; }

.goals-list-content .list-box a:hover {
  background-color: white;
  color: #252525;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 400; }

.goals-list-content .sign p {
  font-size: 1.3em;
  transform: rotate(90deg);
  position: fixed; }

.list-box a {
  font-family: Raleway; }

.inside-goal {
  height: 100%;
  width: 100%; }

.inside-goal .goal-name p {
  color: black;
  transform: rotate(90deg); }

.edit-box {
  padding: 34px 70px 50px 180px; }

/*# sourceMappingURL=style.css.map */