<div class="container goals-list-content">

    <div class="logo ">
        <a href="/main">
            <h2 class="white">Motiv</h2>
        </a>
    </div>
    <div class="list-box">
        <h3>Goals</h3>
        <div class="row">
            <div class="col-sm-11 col-md-11 ">

              
                <ul>
                    {{#each goal}}
                    
                    <li>
                        <a href="/main/goals/edit-goals/{{this._id}}">
                            {{this.name}}
                        </a>
                    </li>
                    {{/each}}
                </ul>

                <a href="/main">Back</a>
            </div>


            <div class="col-sm-1 col-md-1 sign">
                <p>goals</p>

            </div>
            <a href="/main/goals/new-goal">Add goal
            </a>
        </div>

    </div>
</div>