<div class="container goals-list-content">
    <h2 class="logo">Motiv</h2>
    <div class="list-box">

        <h3>{{name}}</h3>
        <div class="row">
            <div class="col-sm-11 col-md-11 ">
                <form class="add-pictures form-goal scnd-text" action="/main/goals/edit-goals/{{_id}}/add-one-picture" method="post"
                    enctype="multipart/form-data">

                    <input class="file" type="file" name="image">
                    <input class="submit" type="submit" value="Upload">

                    <div class="form-group">
                        <label class="scnd-text" for="exampleFormControlSelect1">Theme/s</label>
                        <select class="form-control" name="theme" multiple>

                            <option class="scnd-text" value="art">Art</option>
                            <option class="scnd-text" value="beauty">Beauty</option>
                            <option class="scnd-text" value="friends">Friends</option>
                            <option class="scnd-text" value="food">Food</option>
                            <option class="scnd-text" value="health">Health</option>
                            <option class="scnd-text" value="hobbies">Hobbies</option>
                            <option class="scnd-text" value="home">Home</option>
                            <option class="scnd-text" value="love">Love</option>
                            <option class="scnd-text" value="social">Social</option>
                            <option class="scnd-text" value="sports">Sports</option>
                            <option class="scnd-text" value="travel">Travel</option>
                            <option class="scnd-text" value="work">Work</option>

                        </select>
                    </div>

                    <button type="submit" class="btn-dark scnd-text">Create</button>
                </form>
                <a href="/main/goals"> &#8592 back</a>
            </div>

        </div>
    </div>
</div>
</div>