<div class="logo ">
    <a href="/main">
        <h2 class="white">Motiv</h2>
    </a>
</div>
<div class="edit-box">
    <h3>{{goal.name}}</h3>
    <div class="row">
        <div class="col-sm-11 col-md-11 ">
            <form action="/main/goals/edit-goals/{{goal.id}}/add-content" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Theme/s</label>
                    <select name="theme" type="checkbox" class="form-control" multiple>

                        <option value="art">Art</option>
                        <option value="beauty">Beauty</option>
                        <option value="friends">Friends</option>
                        <option value="food">Food</option>
                        <option value="health">Health</option>
                        <option value="hobbies">Hobbies</option>
                        <option value="home">Home</option>
                        <option value="love">Love</option>
                        <option value="social">Social</option>
                        <option value="sports">Sports</option>
                        <option value="travel">Travel</option>
                        <option value="work">Work</option>

                    </select>
                </div>
                <div class="form-group">
                    <label>Phrase</label>
                    <input name="sentence" type="text" placeholder="Write yourself a message">
                </div>
                <div>
                    <input type="file" name="image">
                    <input type="submit" value="Upload">
                </div>

                <button type="submit" class="btn btn-dark">Create</button>
            </form>
        </div>
    </div>
</div>