<h1>A침ade tu canci칩n</h1>

<h3>Elige tus canciones</h3>
<div>
    
    <a class="btn  btn-dark" href="/main/music">A침ade canci칩n</a>
</div>
<div>
    <form action="/main/goals/edit-goals/{{goal.id}}/add-song" method="POST">
        {{#each songs}}
        <ul>
            <li>
                {{name}}
                <input type="text"name="song" value={{songId}}> 
            </li>

        </ul>

        {{/each}}
</div>

<button type="submit" class="btn btn-dark">Create</button>

</form>